<h1>Welcome to CS-Alumni News</h1>
<p>
  <% if current_user %>
    <div class="latest-posts">
      <h2>Latest Posts:</h2>

      <% @posts.each do |post| %>
        <div class="home-forum-item">
          <% if post.anonymous %>
              <%= gen_image(post.user, :medium, post.anonymous) %>
              <p>Anonymous</p>
          <% else %>
              <%= gen_image(post.user, :medium) %>
              <p><%= post.user.firstname + ' ' + post.user.surname %></p>
          <% end %>
          <p><%= link_to post.title, post_path(post) %></p>
        </div>

      <% end %>
    </div>
  <% else %>
      <p>Please log in... </p>
  <% end %>
</p>
