// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.response{
  background-color: #CCCCCC;
  border-radius: 5px;
  padding:.5%;
  margin-top: 1% ;
  width: 60%;
}


.response-unread{
  background-color: #FDF5E6;
  border-radius: 5px;
  padding:.5%;
  margin-top: 1% ;
  width: 60%;
}